{% extends 'base.html' %}
{%block title%}
About
{%endblock%}
{%block content%}
{%load static %}
<link rel="stylesheet" href=" {% static 'css\about.css' %} ">
{% include 'messages.html' %}
    <div id="container">
        <h1 id="heading">about the college</h1>
        <p id="content">government arts and science college,gudalur was established in the year 2019 by the government of tamilnadu. government arts nd science college,gudalur is an co-educational arts and science collge in nilgiris, amaikulam, puliam parai p.o, gudalur. government arts and science college,gudalur is affiliated to bharathiyar university, coimbatore. government arts and science college, gudalur is recognized by UGC</p>
    </div>


<br><br>
<div id="container2">
    <div id="item">
        <form action="" novalidate method="post" style="margin-left:50px">
            {% csrf_token %}
            <label for="">Enter your name</label>
            <div style="width:300px">{{form.name}}</div>
            {% if form.errors.name %}
            <label for="" class="text-danger">{{form.errors.name}}</label>
            {% endif %}
            <br><br>
            <label for="">Enter your department</label>
            <div style="width:100px">{{form.dept}}</div>
            {% if form.errors.dept %}
            <label for="" class="text-danger">{{form.errors.dept}}</label>
            {% endif %}
            <br><br>
            <label for="">Type your feedback</label>
            <div style="width:300px">{{form.feedback}}</div>
            {% if form.errors.feedback %}
            <label for="" class="text-danger">{{form.errors.feedback}}</label>
            {% endif %}
            <br>
            <button type="submit"id="button" class="bg-success text-white" style="width:150px;height:50px;border:none;border-radius:10px;text-transform:capitalize;letter-spacing:2px;">submit</button>
        </form>
    </div>
</div>

<br><br>




{%endblock%}
