{% extends 'base.html' %}
{%block title%}
About
{%endblock%}
{%block content%}
{%load static %}
<link rel="stylesheet" href=" {% static 'css\about.css' %} ">
    <div id="container">
        <h1 id="heading">about the college</h1>
        <p id="content">government arts and science college,gudalur was established in the year 2019 by the government of tamilnadu. government arts nd science college,gudalur is an co-educational arts and science collge in nilgiris, amaikulam, puliam parai p.o, gudalur. government arts and science college,gudalur is affiliated to bharathiyar university, coimbatore. government arts and science college, gudalur is recognized by UGC</p>
    </div>










{%endblock%}
