*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
}
#container2 #item{
    display: flex;
    /* justify-content:center; */
    align-items: center;
    margin: 10px;
}
#container3 #item{
    display: flex;
    justify-content: center;
    align-items: center;

}
#item #table1{
    height: 300px;
    width: 500px;
    margin:10px;
}
#item #table2{
    height: 300px;
    width: 80%;
    margin-top: 30px;;
}
#table1 #heading{
    text-align: center;
   
    color: white;
    text-transform: capitalize;

}
#table2 #heading{
    text-align: center;
    background-color: #f15a55;
    color:white;
    text-transform: capitalize;
}
tr #heading{
    height: 50px;
    border:solid 1px black;
}
tr .first{
    height: 50px;
    width: 300px;
    border: solid 1px;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 1PX;
    word-spacing: 3px;
}
tr .second{
    height: 40px;
    width: 250px;
    border: solid 1px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1PX;
    word-spacing: 3px;
}
.details .detail,#courses{
    text-transform: capitalize;
    font-size:30px ;
    word-spacing: 2px;
    letter-spacing: 2px;
  
}
.details,#courses{
    border-bottom: solid 2px tomato;
    height: 50px;
}
#details{
    font-size: 20px;
    letter-spacing: 1px;
    word-spacing: 2px;
    margin: 10px;
}