
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    background:linear-gradient(rgba(0, 0, 0, 0.219),rgba(0, 0, 0, 0.808)), url("/static/images/bg.jpg") center center/cover scroll no-repeat;
    height: 100%;
    width: 100%;
    color: white;
   
    
}
.col-6{
   
    margin-left: 25%;
   
}