.images{
    width: 1000px;
}
#carousel #carouselitem{
    display: flex;
    justify-content: center;
    /* height: 600px;  
    width: 100%; */
 }
 /*#carousel{
    position: relative;
    bottom: 16px;
} */
